body{
    font-family: 'Lora', serif;
    font-size: 20px;
    
     /* color: rgba(201, 255, 0, 1);  */
     margin: 20px;
     
}




.container-fluid{
    /* background-color: rgb(237, 238, 243); */
}




#canvas{
    /* background-color: blue; */
}


.side-bar{
    /* background-color: rgb(237, 238, 243); */
    margin: 20px 0px;
    border-right: 0.001px solid rgba(7, 7, 7, 0.404);
    
}





.title{
    /* border: 2px solid yellow; */
    width: 100%;
    height: 100px;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    color: rgb(27, 129, 44);
    font-size: 20px;
    
}

#carousel{
    width: 50px;
    height: 160px;
    padding-top: 30px;
    
}


.yes-no{
    border: 2px solid purple;
    width: 100%;
    height: 120px;

}

.start-game{
    border: 2px solid aquamarine;
    width: 100%;
    height: 120px;

}


.final-answer{
    border: 2px solid green;
    width: 100%;
    height: 350px;
}




