body{
    /* font-family: Arial, Helvetica, sans-serif; */
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    letter-spacing: 4px;
     /* color: rgba(201, 255, 0, 1);  */
     margin: 10px 20px;
     
     
}









#canvas{
    /* background-color: blue; */
}


.side-bar{
    /* background-color: rgb(237, 238, 243); */
    margin: 10px 0px;
    border: 0.001px solid rgba(255, 0, 0, 0.76);
    border-radius: 0.8rem;
    
}





.title{
    /* border: 2px solid yellow; */
    
    width: 100%;
    height: 60px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    background-color: 00000;
    color: #ff0000;
    font-size: 50px;
}



#div-questions{
    
    display: flex;
    justify-content: center;
    margin-top: 50px;
    
}

#questions img{
    width: 250px;
    height: 140px;
    padding-top: 30px;
    
}


#next-button,
#prev-button {
    border: none;
    font-size: 60px;
    font-family: 'Roboto', sans-serif;
    /* color: #ff0000; */
    color: #ff0000;
    background-color: white;
}










.yes-no{
    /* border: 2px solid purple; */
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;

}



.yes-no span{
    color:#0004ff;
    font-size: 25px;
}

#div-start-button, 
#div-ask-button{
    display: flex;
    justify-content: center;
}



#start-button{
    color:  rgba(255, 0, 0);
    border: 0.05px solid rgba(255, 0, 0);
    border-radius: 0.5rem;
    background-color: white;
    margin: 20px 0px;
    padding: 5px 20px;
    letter-spacing: 3px;
    
}


#start-button:hover{
    color:  white;
    border: 0.05px solid white;
    border-radius: 0.5rem;
    background-color: rgba(255, 0, 0);
    margin: 20px 0px;
    padding: 5px 20px;
    letter-spacing: 3px;
}



/* ASK */

#ask-button{
    display: none;
    color:  rgba(255, 0, 0);
    border: 0.05px solid rgba(255, 0, 0);
    border-radius: 0.5rem;
    background-color: white;
    margin: 20px 0px;
    padding: 5px 50px;
    letter-spacing: 3px;

}

#ask-button:hover{
    color:  white;
    border: 0.05px solid white;
    border-radius: 0.5rem;
    background-color: rgba(255, 0, 0);
    background-color: ;
    margin: 20px 0px;
    padding: 5px 50px;
    letter-spacing: 3px;
}





/* FINAL ANSWER */




#div-f-answer div{
    
    width: 100%;
    height: 240px;
    display: flex !important;
    justify-content: center;
    align-content: center;
    margin-top: 50px;
    
    
    
    /* margin-top: 50px; */
    
}

#f-answer{
   width: 150px;
   
   
}

#f-answer img{
    width: 150px;
    height: 150px;
    margin-top: 40px;
   
}


#f-next-button,
#f-prev-button {
    border: none;
    font-size: 60px;
    font-family: 'Roboto', sans-serif;
    
    color: #ff0000;
    
    background-color: white;
    margin: 0px 10px;
}













