body{
    /* font-family: Arial, Helvetica, sans-serif; */
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Bebas Neue', 'Arial';
    font-size: 20px;
    letter-spacing: 4px;
     /* color: rgba(201, 255, 0, 1);  */
     margin: 10px 20px;
     
     
}



#overlay-instructions-1,
#overlay-instructions-2,
#overlay-instructions-3,
#overlay-instructions-4,
#overlay-instructions-5 {
    display: none;
    width: 100%;
}




/* TEXT EFFECTS */
#game-over{
    color:  rgba(0, 0, 255);
    text-align: center;
    font-size: 40px;
    margin: 70px 77px;
    display: none;
}
#game-over p {
  white-space: nowrap;
  overflow: hidden;
}
#game-over p {
  animation: animated-text 1s steps(29,end) 1s 1 normal both,
             animated-cursor 600ms steps(29,end) infinite;
}
/* text animation */
@keyframes animated-text{
  from{width: 0;}
  to{width: 100%;}
}




















/* Background load immediatly */

#game-board{
    background-image: url('../Images/grey-background-2.jpg');
    background-size: cover; 
    display: none;   
}











.side-bar{
    /* background-color: rgb(237, 238, 243); */
    margin: 30px 0px 40px;
    border: 0.001px solid rgba(255, 0, 0, 0.76);
    border-radius: 3rem;
}





.title{
    /* border: 2px solid yellow; */
    
    width: 100%;
    height: 60px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    background-color: 00000;
    color: #ff0000;
    font-size: 50px;
}



#div-questions{
    
    display: flex;
    justify-content: center;
    margin-top: 50px;
    
}

#questions img{
    width: 250px;
    height: 140px;
    padding-top: 30px;
    
}

#questions{
    display: none;
}


#next-button,
#prev-button {
    border: none;
    font-size: 60px;
    font-family: 'Roboto', sans-serif;
    /* color: #ff0000; */
    color: #ff0000;
    background-color: white;
}










.yes-no{
    /* border: 2px solid purple; */
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    

}



.yes-no span{
    color:#0004ff;
    font-size: 25px;
}

#div-start-button,
#div-easy-start-button, 
#div-ask-button,
#div-try-again-button,
#bonus-button {
    display: flex;
    justify-content: center;
    /* border: 3px solid pink; */
}





#easy-start-button {
    color:  rgba(255, 0, 0);
    border: 0.05px solid rgba(255, 0, 0);
    border-radius: 0.5rem;
    background-color: white;
    margin: 0px 0px;
    padding: 5px 34px;
    letter-spacing: 3px;
    
}




#start-button {
    color:  rgba(255, 0, 0);
    border: 0.05px solid rgba(255, 0, 0);
    border-radius: 0.5rem;
    background-color: white;
    margin: 20px 0px;
    padding: 5px 20px;
    letter-spacing: 3px;
    
}



#easy-start-button:hover{
    color:  white;
    border: 0.05px solid white;
    border-radius: 0.5rem;
    background-color: rgba(255, 0, 0);
    margin: 0px 0px;
    padding: 5px 34px;
    letter-spacing: 3px;
}


#start-button:hover {
    color:  white;
    border: 0.05px solid white;
    border-radius: 0.5rem;
    background-color: rgba(255, 0, 0);
    margin: 20px 0px;
    padding: 5px 20px;
    letter-spacing: 3px;
}





/* ASK */

#ask-button{
    display: none;
    color:  rgba(255, 0, 0);
    border: 0.05px solid rgba(255, 0, 0);
    border-radius: 0.5rem;
    background-color: white;
    margin: 20px 0px;
    padding: 5px 50px;
    letter-spacing: 3px;

}

#ask-button:hover{
    color:  white;
    border: 0.05px solid white;
    border-radius: 0.5rem;
    background-color: rgba(255, 0, 0);
    margin: 20px 0px;
    padding: 5px 50px;
    letter-spacing: 3px;
}






/* ATTEMPTS */

#attempts {
    display: flex;
    justify-content: center;
    color: rgba(255, 0, 0);
    margin-top: 20px; 
}

#attempts-empty{
    display: none;
}









/* FINAL ANSWER */


#div-f-answer{
    display: none;
}


#div-f-answer div{
    
    width: 100%;
    height: 175px;
    display: flex !important;
    justify-content: center;
    align-content: center;
    margin-top: 50px;
    /* border: 3px solid orange; */
    
    
    
    /* margin-top: 50px; */
    
}

#f-answer{
   width: 150px;
   
   
}

#f-answer img{
    width: 150px;
    height: 150px;
    /* margin-top: 20px; */
   
}


#f-next-button,
#f-prev-button {
    border: none;
    font-size: 60px;
    font-family: 'Roboto', sans-serif;
    
    color: #ff0000;
    
    background-color: white;
    margin: 0px 10px;
}




/* Sure buttons */


#sure{
    
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-top: 70px;
    
}


#sure div{
    display: flex;
    
    align-content: center;
    justify-content: center;
    /* border: 1px solid yellow; */
}

#sure button {
    border: none;
    background-color: white;
    color:#0004ff;
    font-size: 40px;
    padding-top: 0px;
    

}

#sure p {
    color:#0004ff;
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin: 0px;
}



.f-answer-img{
    border: 0.0003px solid rgba(255, 0, 0, 0.445);
}



/* Try again/ bonus buttons */


/* #try-again-button, 
#bonus-button {
    display: none;
    display:flex;
    align-content: center;
} */


#try-again {
    display: none;
    color:  rgba(255, 0, 0);
    border: 0.05px solid rgba(255, 0, 0);
    border-radius: 0.5rem;
    background-color: white;
    margin: 20px 0px;
    padding: 5px 30px;
    letter-spacing: 3px;
}



#bonus {
    display: none;
    color:  rgba(255, 0, 0);
    border: 0.05px solid rgba(255, 0, 0);
    border-radius: 0.5rem;
    background-color: white;
    margin: 20px 0px;
    padding: 5px 50px;
    letter-spacing: 3px;
}


#try-again:hover {
    display: none;
    color:  white;
    border: 0.05px solid rgba(255, 0, 0);
    border-radius: 0.5rem;
    background-color: rgba(255, 0, 0);
    margin: 20px 0px;
    padding: 5px 30px;
    letter-spacing: 3px;
}



#bonus:hover {
    display: none;
    color:  white;
    border: 0.05px solid rgba(255, 0, 0);
    border-radius: 0.5rem;
    background-color: rgba(255, 0, 0);
    margin: 20px 0px;
    padding: 5px 50px;
    letter-spacing: 3px;
}



#game-over{
    color:  rgba(0, 0, 255);
    text-align: center;
    font-size: 40px;
    /* margin: 70px; */
    display: none;
}

